SPRING_PROFILES_ACTIVE=dev
PORT=8080

DATABASE_URL=jdbc:postgresql://localhost:5432/NOMBRE_BASE
DB_USERNAME=USUARIO
DB_PASSWORD=CONTRASENA

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

JWT_SECRET=COLOCAR_SECRETO_JWT
JWT_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=604800000
JWT_ISSUER=fundamentos001-api

ROOT_LOG_LEVEL=INFO
APP_LOG_LEVEL=DEBUG